img.slide{
   height: 500px;
}

.footer-basic {
   padding:40px 0;
   background-color:#ffffff;
   color:#4b4c4d;
 }
 
 .footer-basic ul {
   padding:0;
   list-style:none;
   text-align:center;
   font-size:18px;
   line-height:1.6;
   margin-bottom:0;
 }
 
 .footer-basic li {
   padding:0 10px;
 }
 
 .footer-basic ul a {
   color:inherit;
   text-decoration:none;
   opacity:0.8;
 }
 
 .footer-basic ul a:hover {
   opacity:1;
 }
 
 .footer-basic .social {
   text-align:center;
   padding-bottom:25px;
 }
 
 .footer-basic .social > a {
   font-size:24px;
   width:40px;
   height:40px;
   line-height:40px;
   display:inline-block;
   text-align:center;
   border-radius:50%;
   border:1px solid #ccc;
   margin:0 8px;
   color:inherit;
   opacity:0.75;
 }
 
 .footer-basic .social > a:hover {
   opacity:0.9;
 }
 
 .footer-basic .copyright {
   margin-top:15px;
   text-align:center;
   font-size:13px;
   color:#aaa;
   margin-bottom:0;
 }


 /* css for popup */

 .popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
  align-items: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-style: italic;
  
}

/* The actual popup */
.popup .popuptext {
  visibility: hidden;
  width: 300px;
  background-color: #555;
  color: rgb(240, 235, 235);
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Toggle this class - hide and show the popup */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;} 
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}